@model AnnouncementsWebApp1.Models.AnnouncementView

<div>
    <h2>Comments</h2>
    <table class="table">
        <tr>
            <th>
                Author
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment.Text)
            </th>
            <th></th>
        </tr>
        @foreach (AnnouncementsWebApp1.Models.Comment c in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => c.User.FirstName)
                    @Html.Display(" ")
                    @Html.DisplayFor(modelItem => c.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => c.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => c.Text)
                </td>
                <td>
                    @if (HttpContext.Current.User.Identity.Name.Equals(c.User.UserName))
                    {
                        @Html.ActionLink("Edit", "Edit", "Comments", new { id = c.Id }, null)
                        <span> | </span>
                        @Html.ActionLink("Delete", "Delete", "Comments", new { id = c.Id }, null)
                    }
                    else if (User.IsInRole("Lecturer"))
                    {
                        @Html.ActionLink("Delete", "Delete", "Comments", new { id = c.Id }, null)
                    }
                </td>
            </tr>
        }
    </table>
</div>
